.button {
  color: white;
  font-size: 14px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 50%;
}

.prev-next-button {
  background-color: darkblue;
  border: 1px solid blue;
}

.add-object-button {
  background-color: green;
  border: 1px solid darkgreen;
}

.remove-object-button {
  background-color: darkred;
  border: 1px solid red;
}

.mover-form, 
.global-settings {
  padding: 0.7rem;
  border: 1px solid black;
}

.mover-form {
  padding-bottom: 2.2em;
}
