* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

html,
body,
main,
#put-canvas-here,
#canvas-container-container,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

canvas {
  display: block;
}

html, body, main, #canvas-container-container, #put-canvas-here {
  width: 100%; 
  height: 100%;
}

#canvas-container-container {
  display: flex;
  justify-content: center;
}

#put-canvas-here {
  --aspect-ratio: calc(16 / 9);
  --width: min(90vw, 80vh * var(--aspect-ratio));
  /* --width: calc(80vh * var(--aspect-ratio)); */
  width: var(--width);
  height: calc(var(--width) / (16 / 9));
}

main.regular-page {
  padding: 2rem;
}