#experiment-button {
    background-color: rgb(119, 119, 240);
    border: none;
    padding: 1rem; 
    font-size: 1.5em; 
    color: white; 
    cursor: pointer; 
    margin-top: 2rem;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 3px #999;
}

h1 {
    font-family: 'Notable', sans-serif;
    color: rgb(119, 119, 240);
    font-size: 40px;
}

.preview-button {
    margin: 0 0.2em;
    padding: 0.5em 1em;
    border: solid rgb(119, 119, 240);
    border-radius: 12px;
    height: 3em;
    cursor: pointer;
    background-color: #eee;
    outline: none;
    box-shadow: 0 3px #999;
    color: white;
    background-color: rgb(119, 119, 240);
  }
  
.preview-button:hover, #experiment-button:hover {
    background-color: rgb(59, 59, 120);
}
  
.preview-button:active, #experiment-button:active {
    box-shadow: 0 1.5px #666;
    transform: translateY(4px);
}